<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPGTNGOeDkEByORgUM2c0427B8WC41Lko</string>
	<key>GCM_SENDER_ID</key>
	<string>908252631576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michiganumpire</string>
	<key>PROJECT_ID</key>
	<string>fccumpire-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>fccumpire-admin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908252631576:ios:69fff6d3979cae8adaa96d</string>
</dict>
</plist>