<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908252631576-5otlvaqp52p7a8ts9t3kq898q9catip0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908252631576-5otlvaqp52p7a8ts9t3kq898q9catip0</string>
	<key>API_KEY</key>
	<string>AIzaSyCPGTNGOeDkEByORgUM2c0427B8WC41Lko</string>
	<key>GCM_SENDER_ID</key>
	<string>908252631576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FCCUmpire</string>
	<key>PROJECT_ID</key>
	<string>fccumpire-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>fccumpire-admin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908252631576:ios:678f9a007e9c55c7daa96d</string>
</dict>
</plist>